body {
    font-family: Arial, Helvetica, sans-serif;
    color: #2B2B2B;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

.images {
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 500px;
    height: auto;
}

.banh-cuon-link {
    display: block;
    text-align: center;
}

.main-point {
    display: block;
    text-align: center;
}

.paragraph-1 {
    text-align: center;
}

.ingredients {
    margin: auto;
    width: 40%;
}